.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 3px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.modules-list-group-icon{
    margin-right: 25px;
}

.red-button{
    background-color: red;
    color: white;
}

.modules-top-bar{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.modules-top-bar div{
    vertical-align: middle;
}

.modules-top-bar a{
    color: white;
}

.row {
    align-items: center; 
  }

.modules-top-bar span{
    color: white; 
    text-align: center; 
    flex-grow: 1;
}

.modules-top-bar p{
    margin-bottom: 0;
}

.close-button{
  margin-left: 20px;
}




